<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
        <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
        <style type="text/tailwindcss">
            @theme {
                --font-sans: "Inter", sans-serif;
            }
        </style>
    </head>
    <body>
        <header class="fixed top-0 left-0 w-full h-50 bg-white z-1">
            <img
                src="img/logo.png"
                alt="logo"
                class="w-50"
            >
        </header>
        <main class="relative mt-50">
            <div class="w-full h-50
                        bg-gradient-to-t from-white to-slate-300
                        absolute left-0 top-0 -z-1"></div>
            <div class="flex justify-center">
                <section id="article" class="max-w-7/10 ">